[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]

model_mommy = "*"


[requires]

python_version = "3.5"


[packages]

pyudemy = "*"
python-decouple = "*"
python-telegram-bot = "*"
Django = "==1.9"
dj-database-url = "*"
gunicorn = "*"
django-celery = "*"
redis = "*"
requests = "*"
